openapi: 3.1.0
info:
  title: FilterData API
  version: "3.1"
  description: |
    Hosted API for contact data normalization and QC scoring.

    Base URL: https://filterdata.ru/api/v1/

servers:
  - url: https://filterdata.ru/api/v1

security:
  - ApiKeyAuth: []

paths:
  /normalize:
    post:
      summary: Normalize a single record
      description: Normalize phone, name and/or email. At least one field must be provided.
      operationId: normalize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NormalizeRequest"
            examples:
              sample:
                value:
                  phone: 8 (999) 123-45-67
                  name: Иванov
                  email: EXAMPLE@gmail.com
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NormalizeResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Monthly hard limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid/inactive API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /batch:
    post:
      summary: Batch normalize (up to 1000 records)
      description: |
        Normalize multiple records in one request.

        Billing unit: 1 record = 1 unit.
        Batch is billed by the number of objects in `contacts`.
      operationId: batchNormalize
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchRequest"
            examples:
              sample:
                value:
                  contacts:
                    - phone: 8 (999) 123-45-67
                      name: "иван иванов"
                      email: EXAMPLE@gmail.com
                    - phone: "+7 912 000-00-00"
                      name: "Иванov"
                      email: "user@agmil.com"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Missing API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Monthly hard limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid/inactive API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: FilterData API key

  schemas:
    QCLevel:
      type: integer
      enum: [0, 1, 2, 3, 4]
      description: |
        Data Quality score:
        0 VALID
        1 ACCEPTABLE
        2 RISK
        3 PARTIAL
        4 MISSING

    NormalizeRequest:
      type: object
      additionalProperties: false
      properties:
        phone:
          type: ["string", "null"]
          maxLength: 255
          examples: ["8 (999) 123-45-67", "+7 912 345-67-89"]
        name:
          type: ["string", "null"]
          maxLength: 255
          examples: ["иван иванов", "Ivan Petrov", "Иванov"]
        email:
          type: ["string", "null"]
          maxLength: 255
          examples: ["EXAMPLE@gmail.com", "user+test@domain.org", "user@agmil.com"]

    NormalizeResponse:
      type: object
      additionalProperties: false
      required: [qc, qc_breakdown, warnings]
      properties:
        phone:
          type: ["string", "null"]
          description: Normalized phone
          examples: ["+79991234567"]
        name:
          type: ["string", "null"]
          description: Normalized name
          examples: ["Иванов Иван"]
        email:
          type: ["string", "null"]
          description: Normalized email (lowercase)
          examples: ["example@gmail.com"]
        qc:
          $ref: "#/components/schemas/QCLevel"
        qc_breakdown:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/QCLevel"
          examples:
            - phone: 0
              name: 2
              email: 0
        warnings:
          type: array
          items:
            type: string
          examples:
            - ["name_mixed_alphabet_risk", "email_domain_typo"]

    BatchRequest:
      type: object
      additionalProperties: false
      required: [contacts]
      properties:
        contacts:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: "#/components/schemas/NormalizeRequest"

    BatchResponse:
      type: object
      additionalProperties: false
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/NormalizeResponse"

    ErrorResponse:
      type: object
      additionalProperties: true
      required: [error, status_code]
      properties:
        error:
          type: string
        status_code:
          type: integer

